<div class="container">
    <nav class="navbar">
        <li class="nav-link">
            <button class="btn btn-success mt-3" routerLink="/telaInicio" routerLinkActive="active">Voltar</button>
        </li>
    </nav>
</div>
<h2>Lista de aparelhos</h2>
<h5>Clique em um aparelho para ter mais detalhes!</h5>
<br>
<div>
<ul>
    <li *ngFor="let aparelho of aparelhos" (click)="redirectToAparelhoDetail(aparelho)">
     {{aparelho.name}}
      <hr>
    </li>
  </ul>
</div>
<div>
    <canvas #chartCanvas></canvas>
</div>

<p>O aparelho que mais consome energia é: <strong>{{ getAparelhoMaisEnergetico() }}</strong></p>

